
.container_connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 2px solid green;
    width: 100%;
    height: 100%;
}

#envoyer{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    color: white;
    background-color: black;
    font-size: 17px;
    transition-duration: 0.2s;
}

#envoyer:hover{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
}