
.container_connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    border-radius: 5px;
    width: 70%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
}

.container_connexion h1{
    font-size: 17px;
    color: black;
}

.text{
    width: 30%;
    font-size: 17px;
}

#champsrequis{
    margin: 0;
    font-size: 15px;
    color: red;
}
#envoyer{
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    color: white;
    background-color: black;
    font-size: 15px;
    transition-duration: 0.2s;
    padding-bottom: 5px;
    padding-top: 5px;
}

#envoyer:hover{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
}