
.container_connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    border-radius: 5px;
    width: 70%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
}

.container_connexion h1{
    font-size: 17px;
    color: black;

}

#champsrequis{
    margin: 0;
}
#envoyer{
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    color: white;
    background-color: black;
    font-size: 17px;
    transition-duration: 0.2s;
}

#envoyer:hover{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
}