
.container_creerquestion{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: white;
    width: 60%;
    height: 100%;
}

.titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.titre h1{
    margin:0;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.titre a{
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    margin-top: 5px;
}

.question_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}


.question_description label{
    width: 60%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.question_description textarea{
    width: 60%;
    border-radius: 15px;
}



.separateur1{
    border-bottom: solid 1px grey;
    width: 50%;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container_date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.date_redac{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date_all{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
    font-size: 15px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

#valider{
    align-self: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 35%;
    color: white;
    background-color: black;
    font-size: 15px;
    transition-duration: 0.2s;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#valider:hover{
    border: 1px solid black;
    transition-duration: 0.2s;
    border-radius: 50px;
    color: black;
    background-color: white;
}

.public{
    transform: rotateY(0deg);
}

.priver{
    transform: rotateY(360deg);
}

#boutonpublic{
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    left: 50px;
}

.scroll_votant{
    height: 110px;
    overflow: scroll;
    border: solid 1px darkgrey;
    border-radius: 5px;
}


.container_votant_contributeur{
    display:flex;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
}

.container_contributeur{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 20px;
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.container_contributeur label{
    align-self: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.container_votant{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 20px;
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.container_votant label{
    align-self: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    border-bottom: solid 1px white;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #acdcee;
    color: black;
    font-weight: bold;
}

#minimum{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    align-self: center;
    color: red;
    margin-bottom: 0;
}

#affichevotant{
    display: flex;
    flex-direction: row;
}

#affichevotant div{
   background-color: #2980b9;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
#affichecontributeur{
    display: flex;
    flex-direction: row;
}

#affichecontributeur div{
    background-color: #2980b9;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.soussection h1{
    margin:0;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.separateur2{
    border-bottom: solid 1px grey;
    width: 90%;
    align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.soussection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.soussection1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

}

.container_section label{
    width: 60%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.container_section textarea{
    width: 100%;
    border-radius: 10px;
}

.container_section{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_main a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: solid 1px black;
    border-radius: 100px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    transition-duration: 0.2s;
    font-weight: bold;
    font-size: 17px;
}

.section_main a:hover{
    transition-duration: 0.2s;
    background-color: white;
    color: black;
}

.bouttonsupp{
    border:solid 2px green;
}

.sectionplus{
    border: solid 2px yellow;
}