html{
    margin: 0;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #D5CABC;
}

/* Couleur :
Couleur 1 : #2e94b9
Couleur 2 : #475053
Couleur 3 : #acdcee
Couleur 4 : #f0fbff
 */
.container_menu{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #212121;

}

.container{
    margin-top: 200px;
    margin-bottom: 200px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

}

#menu{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family:'Raleway', Arial, sans-serif ;
    font-size: 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    margin: 0 1.5em;
    padding: 0;
}
#menu li a{
    padding: 0.5em 0;
    color: white;
    /*#ffffff80*/
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
#menu li a::before,
#menu li a::after{
    position: absolute;
    transition: all 0.35s ease;
}
#menu li a::before{
    content: "";
    display: block;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #2980b9;
}
#menu li a::after{
    content: attr(data-hover);
    left: 0;
    top: 0;
    padding: 0.5em 0;
    color:#ffffff;
    white-space: nowrap;
    max-width: 0%;
    position: absolute;
    overflow: hidden;
}
#menu  a:hover::before,
#menu .active a::before{
    opacity: 1;
    width: 100%;
}
#menu li a:hover::after,
#menu .active a::after{
    max-width: 100%;
}

#logo{
    aspect-ratio: 1/1;
    height: 50px;

}

textarea{
    resize: none;
}

.foot{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #212121;
    bottom: 0;
}